<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro Weasleys' Wizard Wheezes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="container">
<section class="row container_section">
    <div class="col-md-6">
         <img src='img/Registro2.jpg' alt='la imagen no esta' class="imgIzquierda"> 
    </div>   
    <div class="col-md-6" align ="center">
        <div> 
            <img src="img/logo.png" alt="no esta" class="logo">
        </div>
        <div> 
            <h2> Crear cuenta </h2>
        </div>
        <div>
            <form action="" class="col-md-9">
                <div>
                    <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                    <input type="text"  class="form-control"  placeholder="Nombre/s">
                </div>
                <div>
                    <label for="exampleFormControlInput2" class="form-label">Apellido</label>
                    <input type="text"  class="form-control"  placeholder="Apellido/s">
                </div>
                <div>
                    <label for="exampleFormControlInput3" class="form-label">Correo Electronico</label>
                    <input type="email"  class="form-control"  placeholder="name@example.com">
                </div>
                <div>
                    <label for="exampleFormControlInput4" class="form-label">Contraseña</label>
                    <input type="password" class="form-control"  placeholder="Password">
                </div>
            </form>    
        </div>
        <div class="col-md-9">
            <div>
                <button type="button" class="btn btn-success d-grid gap-2 col-12 mx-auto color-boton-verde " type="submit">Crear Cuenta</button>
            </div>
            <div>
                <h4> o </h4>
            </div>
            <div>
                <button type="button" class="btn btn-outline-light">
                    <img src="img/Registrarse con google.png" alt="no esta" class="w100google">
                </button>
            </div>
        </div>
        <div class="col-md-9">
            <span>
                <h4>¿Ya tienes cuenta?</h4>
            </span>
            <span>
                <h4>
                    <a href="https://www.google.com/">Ingresar</a>
                </h4>
            </span>
        </div>
    </div>
</section>
</body>
</html>