<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro Weasleys Wizard Wheezes'</title>
</head>
<body>
<section id="Pantalla dividida">
    <div class="izquierda"> <img src='img/Registro2.jpg' width="50%" height="100%" alt='la imagen no esta'> </div>
    <div class="derecha" align ="right">
        <div class="logo Weasleys'"> 
            <h1>Aca va el logo</h1>
        </div>
        <div class="crear cuenta"> 
            <h2> Crear cuenta </h2>
        </div>
        <div class="Formulario">
            <form action="" class="formulario">
                <div class="Nombre">
                    <label for="">Nombre</label>
                    <input type="text">
                </div>
                <div class='apellido'>
                    <label for="">Apellido</label>
                    <input type="text">
                </div>
                <div class='Correo electronico'>
                    <label for="">Correo Electronico</label>
                    <input type="text"
                </div>
                <div class='contraseña'>
                    <label for="">Contraseña</label>
                    <input type="text">
                </div>
            </form>  
        </div>
    </div>
</section>
</body>
</html>