/* top-navbar */

#topnavbar {
    background: #FDF9C4;
    height: 100px;
}
#navbarSupportedContent{
    background: #FDF9C4;
}
#icon-container{
    color: #FF6565;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#link-text{
    color: #FF6565;
    font-family: Verdana;
}
#btn-standard{
    font-family: Verdana;
    color:white;
    background:#FF6565;
    text-align: center;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

/* footer */

#footer{
    background: #FDF9C4;
}
#text-suscr{
    color:white;
    background-color:#FF6565
    
}
#input-suscr{
    border-color: #FF6565;
}
#button-suscr{
    background: #FF6565;
    border: none;
}

/* home */

#section-tittle{
    font-family: Verdana;
    color:white;
    background:#FF6565;
    text-align: center;
    border-radius: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#text-name{
    font-family: Verdana;
    color: #FF6565;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
}
#price-home{
    font-family: Verdana;
    color: #940606;
    text-align: center;
    font-weight: bold;
}

/* shopping cart */

.titulo1{
    display: flex;
    justify-content: space-around;
    margin-left: 80px;
    margin-top: 50px;
    color: white;
    background-color: #FF6565;
    font-family: verdana;
    width: 180px;
    border: 1px;
    border-radius: 10px;
    font-weight: 400;
}
.divA{
    display: flex;
    flex-direction: row;
    gap:100px;
    padding: 50px; 
}
.imagen1{display: flex;
    flex-direction: column;
    margin-left: 150px; 
    
}
.div1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 170px;
    width: 55%;
    background-color: #FCF8C2;
    opacity: 0.6;
    border: 5px;
    border-color: #FF6565;
    border-style: dashed;
    border-radius: 20px;
    padding: 25px 20px 20px 50px;
    
}
.divB{
    display: flex;
    flex-direction: row;
    gap:100px;
    padding: 50px;
    
}
.imagen2{display: flex;
    flex-direction: column;
    margin-left: 150px;
 
}
.div2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 170px;
    width: 55%;
    background-color: #FCF8C2;
    opacity: 0.6;
    border: 5px;
    border-color: #FF6565;
    border-style: dashed;
    border-radius: 20px;
    padding: 25px 20px 20px 50px;
    
}
#botones {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
    margin-bottom: 80px;
    margin-top: 0px;
    margin-right: 100px;
}
#cantidad{
    width: 50px;
}
.fuente1{
    font-size: large;
    font-family: verdana;
    font-weight: 600;
    opacity: 100%;
    color: #FF6565;
}
.fuente2{
    font-size: medium;
    font-family: verdana;
    opacity: 100%;
    color: #940606;
    font-weight: 600;
}
.cant{ 
   font-size: large;
   font-weight: 400;
   font-family: verdana;
   color: #FF6565;
}
.sub{
    order: 5;
    align-self: flex-end;
}
.bot1{
    background-color: white;
    color: #FF6565;
    font-family: verdana;
    border-color: #FF6565;
    border-radius: 10px;
    transition: all .5s ease;
    text-align: center;
    line-height: 1;
    padding: 10px;
    outline: none;
}
.bot1:hover {
    color: white;
    background-color: #FF6565;
}
.bot2{
    background-color: #FF6565;
    color: white;
    font-family: verdana;
    border-color: #FF6565;
    border-radius: 10px;
}
.total{
    display: flex;
    color: #940606;
    flex-direction: row;
    margin-left: 432px;
    height: 50px;
    width: 55%;
    background-color: #FCF8C2;
    opacity: 0.6;
    border: 5px;
    border-color: #FF6565;
    border-style: dashed;
    border-radius: 20px;
    justify-content: flex-end;
    padding-right: 20px;
    padding-top: 5px;

}

/*====== Formularios ======*/
.form-label {
    display: inline-block;
    font-size: 20px;
    color: #FF6565;
    margin: 10px 0;
  }
  
  .form-input {
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    font-size: 18px;
    border-radius: 5px;
    border: solid 1px;
    border-color: black;
    padding: 0 15px;
  }
  
  textarea.form-input {
    min-height: 80px;
    resize: vertical;
    padding: 15px;
  }
  
/*====== Product Detail ======*/
.divizq { 
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.divchevron {
  display: block;
  color: #FF6565;
  font-size: 50px;
}

.product-detail {
    background-color: #ffffff;
    border: solid 1px;
    border-radius: 8px;
    border-color: #FF6565;
  }
  
  .product-detail-img {
    width: 70%;
    display: block;
    margin: auto;
  }
  
  .product-detail-info {
    border-left: 1px solid var(--light-gray);
    padding: 15px;
    height: 100%;
  }
  
  .product-detail-title {
    font-family: Verdana;
    color: #FF6565;
    text-align: center;
    font-weight: bold;
    padding-left: 4px;
    padding-right: 4px;
  }
  
  .product-detail-description {
    font-family: Verdana;
    padding: 15px;
    font-size: 14px;
    line-height: 1.5;
  }
  
  .product-detail-price {
    font-size: 18px;
    text-align: left;
    padding-left: 15px;
    padding-top: 8px;
    margin: 0;
  }
  
  .actions-list {
    margin-bottom: 50px;
  }
  
  .actions-list li {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 20px 0;
  }
  
  .actions-list i {
    color: var(--green);
    font-size: 2em;
    margin-right: 15px;
  }
  
  .actions-list p {
    color: var(--gray);
    font-size: 1.7em;
    margin: 0;
  }
  
  .divbutton {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 10px; 
}

.divbuttons {
  height: 60px;
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 20px; 
}

.buttoncart {
    color:#FF6565;
    border: 1px solid #FF6565;
    
}
  
  .action-button {
    border: none;
    border-radius: 8px;
    font-size: 14px;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-top: 5px;
  }
  
  .action-button.edit {
    background-color: #FF6565;
  }
  .action-button.delete {
    background-color: #940606;
  }

  /*====== Products ======*/
.products-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .products-title {
    font-size: 2.4em;
    font-weight: 400;
    color: var(--gray);
  }
  