main {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.divder {
    display: flex;
    flex-direction: column;
    width: 50%;
}
 
    

h1 {
    color: #FF6565
}

.divizq { 
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 50px;
     
    

}

.divchevron {
    display: block;
    color: #FF6565;
    font-size: 50px;
   
    
    
}

.p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.divbutton {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 20px;
    
    
}

.buttoncart {
    color:#FF6565;
    border: 1px solid #FF6565;
    
}

select {
    width: 45px;
    border: 1px solid #FF6565;
}