.contenedor-img{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: 100vh;
}

.contenedor-img img{
    width:  450px;
    height: 100vh;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.color-boton-verde {
    background-color: #FF6565;
    width: 100%;
}

.btn-social-media {
    width: 100%;
}

.container_section{
    height: auto;
    object-fit: cover;
    overflow: hidden;
}

.crearcuenta1 {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    width: auto;
}

.fz15 {
    font-size: 14px;
    font-weight: bold;
}

.registerform {
    margin: auto;
}

.mt15 {
    padding-top: 10px;
    margin: auto;
}

@media (max-width: 768px) {
    .contenedor-img{
        display: none;
    }
    .fz15{
        width: 100%;
        margin: auto;
    };   
}