
.divA{
    display: flex;
    flex-direction: row;
    gap:100px;
    padding: 50px; 
}


.imagen1{display: flex;
    flex-direction: column;
    
}


.div1{
    display: flex;
    flex-direction: column;

}


.divB{
    display: flex;
    flex-direction: row;
    gap:100px;
    padding: 50px;
    
}

.imagen2{display: flex;
    flex-direction: column;
    
}


.div2{
    display: flex;
    flex-direction: column;
}


#botones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


