.imgIzquierda {
    width: 100%;
    
}

.logo {
    width: 100%;
    
}

.color-boton-verde {
    background-color: #FF6565;
}

.container_section{
    height: 850px;
    object-fit: cover;
    overflow: hidden;
}

.crearcuenta1 {
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}

.fz15 {
    font-size: 15px;
}

.mt15 {
    margin-top: 15px
}