<!DOCTYPE html>
<html>
<head>
<title>Finalizar compra</title>
<link rel="stylesheet" href="css/style.css">

</head>

<body>

<div id="titulo"><h1 class="titulo1"> Mi carrito </h1></div>


<div id="producto1">
      <img src="/img/bombones.png" alt="bombones" width="200px" height="200px">
      <div class="div1">
      <h4 class="titulofoto"> Barra de oro Gringots de chocolate con leche</h4>

      <p class="precio"> Precio $250 </p>

       <label for="unidades">Cantidad:</label>
           <select name="Cantidad" id="cantidad">
             <option value="uno">1</option>
             <option value="dos">2</option>
             <option value="tres">3</option>
             <option value="cuatro">4</option>
             <option value="cinco">5</option>
             <option value="seis">6</option>
             <option value="siete">7</option>
             <option value="ocho">8</option>
             <option value="nueve">9</option>
             <option value="diez">10</option>
            </select>
     <h3 class="subtotal">Subtotal $250</h3>
</div>


<div id="producto2">
      <img src="/img/chocolate1.png" alt="bombones" width="200px" height="200px">

     <div class="div2">
     <h4 class="titulofoto">Bombones explosivos</h4>

    <p class="precio"> Precio $320 </p>

    <label for="unidades">Cantidad:</label>
      <select name="Cantidad" id="cantidad">
         <option value="uno">1</option>
         <option value="dos">2</option>
         <option value="tres">3</option>
         <option value="cuatro">4</option>
         <option value="cinco">5</option>
         <option value="seis">6</option>
         <option value="siete">7</option>
         <option value="ocho">8</option>
         <option value="nueve">9</option>
         <option value="diez">10</option>
      </select>
      <h3 class="subtotal">Subtotal $320</h3>
</div>



<div id="botones"> 
     <h3 class="boton1">Seguir comprando</h3>
     <h2 class="boton2">Finalizar compra</h2>
</div>



</body>

</html>