<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Finalizar compra'}) %>

<body>
  <!-- Header -->
  <%- include('partials/topNavbar.ejs') %>

<div id="titulo"><h3 class="titulo1"> Mi carrito </h3></div>


<div class="divA carritodiv car-items"  > 
 <div class="imagen1"> <img src="/img/products/Slytherin-Dark-Chocolate-Bar.png" alt="bombones" width="170px" height="170px"> </div>

 <div class="div1 cart-row">
      <h4 class="titulofoto fuente1"> Barra de chocolate Slytherin</h4>

      <span class="precio fuente2" > $ 120 </span>

       <label for="unidades" class="cant">Cantidad:</label>
       <input class="cantidad cnt" type="number" value="0">


    <button type="submit" class= "deletebutton" id="deletebutton">Eliminar</button>
    <br>

 </div>

</div>



<div class="divB carritodiv" > 
  <div class="imagen2"> <img src="/img/products/Dark-Chocolate-Frog-with-authentic-film-packaging.png" alt="bombones" width="170px" height="170px"></div>
 
  <div class="div2 cart-row">
       <h4 class="titulofoto fuente1"> Rana de Chocolate </h4>
 
       <p class="precio fuente2"> $190 </p>
 
        <label for="unidades" class="cant">Cantidad:</label>
        <input class="cantidad cnt" type="number" value="0">

    
      <button type="submit" class= "deletebutton" id="deletebutton">Eliminar</button>
      <br>
  </div>
 </div>

<br>

 <h4 class="total">Total $0</h4>
 
<br>

<div id="botones"> 
  <button type="button" class="bot1">Seguir Comprando</button>
  <button type="button" class="bot2">Finalizar Compra</button>

</div>

<!-- FOOTER -->
<%- include('partials/footer.ejs') %>
<script src = "/js/carrito.js" > </script>

</body>

</html>