<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Finalizar compra'}) %>

<body>
  <!-- Header -->
  <%- include('partials/topNavbar.ejs') %>

<div id="titulo"><h3 class="titulo1"> Mi carrito </h3></div>


<div class="divA carritodiv" > 
 <div class="imagen1"> <img src="/img/bombones.png" alt="bombones" width="170px" height="170px"> </div>

 <div class="div1 cart-row">
      <h4 class="titulofoto fuente1"> Barra de oro Gringots de chocolate con leche</h4>

      <span class="precio fuente2" > $ 250 </span>

       <label for="unidades" class="cant">Cantidad:</label>
       <input class="cantidad" type="number" value="2">

           <!-- <select name="Cantidad" id="cantidad">
             <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="7">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select> -->
     <!-- <h3 class="subtotal fuente2 sub">Subtotal $250</h3> -->
    
    <button type="submit" class= "deletebutton" id="deletebutton">Eliminar</button>
    <br>

 </div>

</div>



<div class="divB carritodiv" > 
  <div class="imagen2"> <img src="/img/chocolate1.png" alt="bombones" width="170px" height="170px"></div>
 
  <div class="div2 cart-row">
       <h4 class="titulofoto fuente1"> Barra de oro Gringots de chocolate con leche</h4>
 
       <p class="precio fuente2"> $250 </p>
 
        <label for="unidades" class="cant">Cantidad:</label>
        <input class="cantidad" type="number" value="3">
            <!-- <select name="Cantidad" id="cantidad" class="cantidad">
               <option value="uno">0</option>
               <option value="uno">1</option>
               <option value="dos">2</option>
               <option value="tres">3</option>
               <option value="cuatro">4</option>
               <option value="cinco">5</option>
               <option value="seis">6</option>
               <option value="siete">7</option>
               <option value="ocho">8</option>
               <option value="nueve">9</option>
               <option value="diez">10</option>
             </select> -->
      <!-- <h3 class="subtotal fuente2 sub">Subtotal $250</h3> -->
    
      <button type="submit" class= "deletebutton" id="deletebutton">Eliminar</button>
      <br>
  </div>
 </div>
<br>

 <h4 class="total">Total $750</h4>
 
<br>

<div id="botones"> 
  <button type="button" class="bot1">Seguir Comprando</button>
  <button type="button" class="bot2">Finalizar Compra</button>

</div>

<!-- FOOTER -->
<%- include('partials/footer.ejs') %>
<script src = "/js/carrito.js" > </script>

</body>

</html>