 <footer class="w-100 py-4 flex-shrink-0" id="footer">
            <div class="container px-4">
                <div class="row gy-6 gx-7 d-flex align-items-center">
                    <div class="col-lg-3 col-md-6 ">
                        <a href="/"><img class="img-fluid" width="160" height="160" src="/img/company-logo.png" alt="logo"></a>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <ul class="fs-5" id="link-text">
                            <li><a id="link-text" href="#">Contacto</a></li>
                            <li><a id="link-text" href="#">FAQ</a></li>
                            <li><a id="link-text" href="#">Sobre nosotros</a></li>
                            <li><a id="link-text" href="#">Estado de mi pedido</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <h5 class="mb-3" id="text-suscr">¡Suscribite  y recibí ofertas especiales!</h5>
                        <form action="#">
                            <div class="input-group mb-3">
                                <input class="form-control" id="input-suscr" type="text" placeholder="Email" aria-label="Recipient's username" aria-describedby="button-suscr">
                                <button class="btn btn-primary" id="button-suscr" type="button"><i class="bi bi-send"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </footer>